body {
    font-family: Arial;
    background-color: #f2f2f2;
}

header {
    text-align: center;
}

main {
    background-color: white;
    margin: 20px;
    padding: 15px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    color: gray;
}

footer {
    text-align: center;
    padding: 10px;
    color: #333;
}
